app/jade/base.pug
block head
	- var pageTitle
<!DOCTYPE html>
html(lang="en")
	head
		<meta name="viewport" content="width=device-width, initial-scale=1">
		meta(charset="UTF-8")
		title= pageTitle
		link(rel='stylesheet', href='/static/css/style.css')
		script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
			//- 8 (900) 535-67-07
	body

		i.modal_bg
		a( class="nav_close")
			span

		.page_wrapper
			main
				svg(role="img", width="18", height="18")
					use(xlink:href="/static/images/sprite.svg#accumulator")
				svg(role="img", width="18", height="18")
					use(xlink:href="/static/images/static-sprite.svg#accumulator")
				header.for_desctop
					section.header_1
						.container
							.row
								.col-6
									ul.main_menu
										li 
											a(href="") О компании
										li 
											a(href="") Новости и акции
										li 
											a(href="") Отзывы
										li 
											a(href="") Покупателям
											ul
												li
													a(href="") Как заказать?
												li
													a(href="") Оплата
												li
													a(href="") Доставка
												li
													a(href="") Гарантия и возврат
												li
													a(href="") Партнеры
								.col-6
									a.enter(href="")
										svg(role="img", width="14", height="15")
											use(xlink:href="/static/images/sprite.svg#lk")
										span Личный кабинет
					section.header_2
						.container
							.row
								.col-6
									a.logo(href="/")
										img(src="/static/images/logo.png")
								.col-6
									.haeder_info
										a(href="")
											svg(role="img", width="16", height="21")
												use(xlink:href="/static/images/sprite.svg#map")
											span Адреса магазинов запчастей
										a(href="#custom_modal-1" class="modal_trigger")
											svg(role="img", width="19", height="19")
												use(xlink:href="/static/images/sprite.svg#tel")
											span Перезвонить мне
					section.header_3
						.container
							.row
								.col-12
									.header_block.scale
										.no_scale
											.flex
												a.open_catalog.scale.hover_menu(href="")
													svg.no_scale(role="img", width="18", height="18")
														use(xlink:href="/static/images/sprite.svg#cat_menu")
													span.no_scale Каталог товаров
												form.search
													input(type="text" placeholder="Поиск товаров в каталоге")
													button
														svg(role="img", width="18", height="18")
															use(xlink:href="/static/images/sprite.svg#search")
													.ajax_search.no_scale
														ul
															each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
																li
																	a(href="")= val
												a.cart_button.scale(href="")
													svg.no_scale(role="img", width="24", height="25")
														use(xlink:href="/static/images/sprite.svg#cart")
													span.rub.no_scale 20 400
													i
														i.no_scale 12
												.cart-popup
													.cart-popup__header 
														b Корзина:
															span.amount 12
													.cart-popup__body
														.cart-popup__title Товар добавлен в корзину
														.cart-popup__scroller
															a(href="#").popup-product
																span.popup-product__thumbnail
																	img(src="/static/images/product-category_img.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail.popup-product__thumbnail_none
																	img(src="/static/images/thumbnail-icon.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail
																	img(src="/static/images/product-category_img.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail.popup-product__thumbnail_none
																	img(src="/static/images/thumbnail-icon.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail
																	img(src="/static/images/product-category_img.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
															a(href="#").popup-product
																span.popup-product__thumbnail.popup-product__thumbnail_none
																	img(src="/static/images/thumbnail-icon.png", alt="")
																span.popup-product__title Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)
																span.popup-product__price
																	b.rub 3 450
																	span.amount (2 шт)
													.cart-popup__footer
														.cart-popup__total-price Итого:
															b.price.rub 16 800
														.cart-popup__buttons
															a(href="#" class="to-cart")
																.text В корзину
															a(href="#" class="theme-button")
																.text Оформить заказ

											ul.catalog_menu.hover_menu
												li(data-submenu-id="submenu_1")
													a(href="")
														i
															svg(role="img", width="26", height="26")
																use(xlink:href="/static/images/sprite.svg#item_1")
														span Запчасти и комплектующие
													ul#submenu_1
														each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
															li
																a(href="")= val
												li(data-submenu-id="submenu_2")
													a(href="") 
														i
															svg(role="img", width="26", height="18")
																use(xlink:href="/static/images/sprite.svg#item_2")
														span Аккумуляторы
													ul#submenu_2
														each val in ['Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
															li
																a(href="")= val
												li(data-submenu-id="submenu_3")
													a(href="") 
														i
															svg(role="img", width="25", height="25")
																use(xlink:href="/static/images/sprite.svg#item_3")
														span Шины и камеры
													ul#submenu_3
														each val in ['Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
															li
																a(href="")= val
												li
													a(href="") 
														i
															svg(role="img", width="21", height="26")
																use(xlink:href="/static/images/sprite.svg#item_4")
														span Масла и спецжидкости
												li
													a(href="") 
														i
															svg(role="img", width="24", height="24")
																use(xlink:href="/static/images/sprite.svg#item_5")
														span Распродажа
				header.for_mobile
					section.h_1
						a.open_menu.scale(href="")
							svg.no_scale(role="img", width="28", height="16")
								use(xlink:href="/static/images/sprite.svg#menu")
						a.logo(href="/")
							img(src="/static/images/logo.png")
						a.cart_open.scale(href="")
							svg.no_scale(role="img", width="24", height="25")
								use(xlink:href="/static/images/sprite.svg#cart")
							i.no_scale 12
					nav
						ul
							li.for_catalog_menu
								a(href="")
									svg(role="img", width="18", height="18")
										use(xlink:href="/static/images/sprite.svg#cat_menu")
									span Каталог товаров
								ul.catalog_menu_mobile
									li
										a(href="")
											i
												svg(role="img", width="26", height="26")
													use(xlink:href="/static/images/sprite.svg#item_1")
											span Запчасти и комплектующие
										ul
											each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												li
													a(href="")= val
									li
										a(href="") 
											i
												svg(role="img", width="26", height="18")
													use(xlink:href="/static/images/sprite.svg#item_2")
											span Аккумуляторы
										ul
											each val in ['Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												li
													a(href="")= val
									li
										a(href="") 
											i
												svg(role="img", width="25", height="25")
													use(xlink:href="/static/images/sprite.svg#item_3")
											span Шины и камеры
										ul
											each val in ['Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для тракторов', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												li
													a(href="")= val
									li
										a(href="") 
											i
												svg(role="img", width="21", height="26")
													use(xlink:href="/static/images/sprite.svg#item_4")
											span Масла и спецжидкости
									li
										a(href="") 
											i
												svg(role="img", width="24", height="24")
													use(xlink:href="/static/images/sprite.svg#item_5")
											span Распродажа
							li
								a(href="")
									svg(role="img", width="15", height="15")
										use(xlink:href="/static/images/sprite.svg#search")
									span Поиск товаров в каталоге
								ul
									form.search
										input(type="text" placeholder="Поиск…")
										button.scale
											svg.no_scale(role="img", width="17", height="17")
												use(xlink:href="/static/images/sprite.svg#arr_1")
										.ajax_search
											each val in ['ГИДРОАППАРАТУРА', 'Запчасти для автомобилей', 'Запчасти для дорожно-строительной техники', 'Запчасти для лесозаготовительной техники', 'Запчасти для сельхозтехники', 'Запчасти для тракторов', 'ИНСТРУМЕНТЫ И МАТЕРИАЛ', 'КАНАТЫ', 'МЕТИЗЫ', 'ПОДШИПНИКИ', 'ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА', 'ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ', 'РТИ', 'ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ']
												a(href="")= val
							li
								a(href="")
									svg(role="img", width="17", height="16")
										use(xlink:href="/static/images/sprite.svg#lk_m")
									span Личный кабинет
								ul
									li
										a(href="") вход
									li
										a(href="") выход
						ul.main_menu
							li 
								a(href="") О компании
							li 
								a(href="") Новости и акции
							li 
								a(href="") Отзывы
							li 
								a(href="") Покупателям
								ul
									li
										a(href="") Как заказать?
									li
										a(href="") Оплата
									li
										a(href="") Доставка
									li
										a(href="") Гарантия и возврат
									li
										a(href="") Партнеры
						ul.haeder_info
							a(href="")
								svg(role="img", width="16", height="21")
									use(xlink:href="/static/images/sprite.svg#map")
								span Адреса магазинов запчастей
							a(href="#custom_modal-1" class="modal_trigger")
								svg(role="img", width="19", height="19")
									use(xlink:href="/static/images/sprite.svg#tel")
								span Перезвонить мне

				block content

			footer
				.container
					.row
						.col-12.col-xl-3.d-none.d-xl-block
							a.logo(href="#")
								img(src="/static/images/logo.png")
						.col-12.col-lg-2.col-xl-2.d-none.d-lg-block
							.footer-block
								b.footer-block__title Магазин
								ul
									li
										a(href="#") О компании
									li
										a(href="#") Новости и акции
									li
										a(href="#") Отзывы
						.col-12.col-lg-3.col-xl-2.d-none.d-lg-block
							.footer-block
								b.footer-block__title Покупателям
								ul
									li
										a(href="#") Как заказать?
									li
										a(href="#") Оплата
									li
										a(href="#") Доставка
						.col-12.col-lg-3.col-xl-2.d-none.d-lg-block
							.footer-block.footer-block_no-title
								ul
									li
										a(href="#") Гарантия и возврат
									li
										a(href="#") Партнеры
									li
										a(href="#") Полезные статьи
						.col-12.col-lg-4.col-xl-3
							a(href="#").footer-skewed-block.footer-skewed-block_link
								.footer-skewed-block__content
									svg(class="footer-skewed-block__svg", role="img", width="16", height="21", style="min-width: 16px;")
										use(xlink:href="/static/images/sprite.svg#pin")
									.footer-skewed-block__text Адреса магазинов
							.footer-skewed-block
								.footer-skewed-block__content
									svg(class="footer-skewed-block__svg", role="img", width="42", height="27", style="min-width: 42px;")
										use(xlink:href="/static/images/sprite.svg#truck")
									.footer-skewed-block__text Доставка продукции по всей России



				.lower_footer
					.container
						.row
							.col-12
								.wrapper
									.wrapper_left
										p © 2018 Сеть магазинов запасных частей «Механик»
										a(href="#", target="_blank") Политика конфиденциальности
									a(href="https://place-start.ru", class="made_by", target="_blank") Сделано в
										svg(role="img", width="96", height="19")
											use(xlink:href="/static/images/sprite.svg#ps")




		.custom_modal#custom_modal-1
			a(href="#", class="modal_close")
			b.modal_title Войти в личный кабинет
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="email", id="input-1", required)
					label(for="input-1") Email
				.group
					.input-wrapper(class="error")
						input(type="password", id="input-2", required)
					label(for="input-2") Пароль
				span.error_description Неверный email или пароль
				button(type="submit", class="theme-button")
					span.text Войти
				.other_links
					a(href="#custom_modal-2", class="open_other_modal") Забыли пароль?
					a(href="#custom_modal-3", class="open_other_modal") Регистрация по Email
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена

		.custom_modal#custom_modal-2
			a(href="#", class="modal_close")
			b.modal_title Восстановление пароля
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="email", id="input-1", required)
					label(for="input-1") Email
				
				button(type="submit", class="theme-button")
					span.text Восстановить пароль
				.other_links
					a(href="#custom_modal-1", class="open_other_modal") Войти в личный кабинет
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена

		.custom_modal#custom_modal-3
			a(href="#", class="modal_close")
			b.modal_title Регистрация
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="email", id="input-1", required)
					label(for="input-1") Email
				label(for="acceptance-1", class="acceptance_checkbox")
					input(type="checkbox", id="acceptance-1" checked)
					s.new_checkbox
						svg(role="img", width="8", height="6")
							use(xlink:href="static/images/sprite.svg#checkbox_arrow")
					span.text Я юридическое лицо
				button(type="submit", class="theme-button")
					span.text Зарегистрироваться
				.form_desc Нажимая кнопку, вы соглашаетесь на 
					a(href="#") обработку персональных данных
				.other_links
					a(href="#custom_modal-1", class="open_other_modal") Я уже зарегистрирован на сайте
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена

		.custom_modal#custom_modal-4
			a(href="#", class="modal_close")
			b.modal_title Получить консультацию
			// На форму кидать классы: error, load, success
			form(action="") 
				.group
					.input-wrapper
						input(type="text", id="input-1", required)
					label(for="input-1") Имя
				.group
					.input-wrapper
						input(type="tel", id="input-1", required)
					label(for="input-1") Телефон для связи
				button(type="submit", class="theme-button")
					span.text Отправить
				.form_desc Нажимая кнопку, вы соглашаетесь на 
					a(href="#") обработку персональных данных
				.load
					img(src="static/images/loader.png", alt="")
				.success
					img(src="static/images/tick.png", alt="")
					b Заявка успешно отправлена




		script(src="/static/js/main.js")
		script(src="/static/js/script.js")
			

dist/base.html
<!DOCTYPE html>
<html lang="en">
	<head><meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8"/>
		<title></title>
		<link rel="stylesheet" href="/static/css/style.css"/>
		<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
	</head>
	<body><i class="modal_bg"></i><a class="nav_close"><span></span></a>
		<div class="page_wrapper">
			<main>
				<svg role="img" width="18" height="18">
					<use xlink:href="/static/images/sprite.svg#accumulator"></use>
				</svg>
				<svg role="img" width="18" height="18">
					<use xlink:href="/static/images/static-sprite.svg#accumulator"></use>
				</svg>
				<header class="for_desctop">
					<section class="header_1">
						<div class="container">
							<div class="row">
								<div class="col-6">
									<ul class="main_menu">
										<li> <a href="">О компании</a></li>
										<li> <a href="">Новости и акции</a></li>
										<li> <a href="">Отзывы</a></li>
										<li> <a href="">Покупателям</a>
											<ul>
												<li><a href="">Как заказать?</a></li>
												<li><a href="">Оплата</a></li>
												<li><a href="">Доставка</a></li>
												<li><a href="">Гарантия и возврат</a></li>
												<li><a href="">Партнеры</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="col-6"><a class="enter" href="">
										<svg role="img" width="14" height="15">
											<use xlink:href="/static/images/sprite.svg#lk"></use>
										</svg><span>Личный кабинет</span></a></div>
							</div>
						</div>
					</section>
					<section class="header_2">
						<div class="container">
							<div class="row">
								<div class="col-6"><a class="logo" href="/"><img src="/static/images/logo.png"/></a></div>
								<div class="col-6">
									<div class="haeder_info"><a href="">
											<svg role="img" width="16" height="21">
												<use xlink:href="/static/images/sprite.svg#map"></use>
											</svg><span>Адреса магазинов запчастей</span></a><a class="modal_trigger" href="#custom_modal-1">
											<svg role="img" width="19" height="19">
												<use xlink:href="/static/images/sprite.svg#tel"></use>
											</svg><span>Перезвонить мне</span></a></div>
								</div>
							</div>
						</div>
					</section>
					<section class="header_3">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="header_block scale">
										<div class="no_scale">
											<div class="flex"><a class="open_catalog scale hover_menu" href="">
													<svg class="no_scale" role="img" width="18" height="18">
														<use xlink:href="/static/images/sprite.svg#cat_menu"></use>
													</svg><span class="no_scale">Каталог товаров</span></a>
												<form class="search">
													<input type="text" placeholder="Поиск товаров в каталоге"/>
													<button>
														<svg role="img" width="18" height="18">
															<use xlink:href="/static/images/sprite.svg#search"></use>
														</svg>
													</button>
													<div class="ajax_search no_scale">
														<ul>
															<li><a href="">ГИДРОАППАРАТУРА</a></li>
															<li><a href="">Запчасти для автомобилей</a></li>
															<li><a href="">Запчасти для дорожно-строительной техники</a></li>
															<li><a href="">Запчасти для лесозаготовительной техники</a></li>
															<li><a href="">Запчасти для сельхозтехники</a></li>
															<li><a href="">Запчасти для тракторов</a></li>
															<li><a href="">ИНСТРУМЕНТЫ И МАТЕРИАЛ</a></li>
															<li><a href="">КАНАТЫ</a></li>
															<li><a href="">МЕТИЗЫ</a></li>
															<li><a href="">ПОДШИПНИКИ</a></li>
															<li><a href="">ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА</a></li>
															<li><a href="">ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ</a></li>
															<li><a href="">РТИ</a></li>
															<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
														</ul>
													</div>
												</form><a class="cart_button scale" href="">
													<svg class="no_scale" role="img" width="24" height="25">
														<use xlink:href="/static/images/sprite.svg#cart"></use>
													</svg><span class="rub no_scale">20 400</span><i><i class="no_scale">12</i></i></a>
												<div class="cart-popup">
													<div class="cart-popup__header"> <b>Корзина:<span class="amount">12</span></b></div>
													<div class="cart-popup__body">
														<div class="cart-popup__title">Товар добавлен в корзину</div>
														<div class="cart-popup__scroller"><a class="popup-product" href="#"><span class="popup-product__thumbnail"><img src="/static/images/product-category_img.png" alt=""/></span><span class="popup-product__title">Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)</span><span class="popup-product__price"><b class="rub">3 450</b><span class="amount">(2 шт)</span></span></a><a class="popup-product" href="#"><span class="popup-product__thumbnail popup-product__thumbnail_none"><img src="/static/images/thumbnail-icon.png" alt=""/></span><span class="popup-product__title">Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)</span><span class="popup-product__price"><b class="rub">3 450</b><span class="amount">(2 шт)</span></span></a><a class="popup-product" href="#"><span class="popup-product__thumbnail"><img src="/static/images/product-category_img.png" alt=""/></span><span class="popup-product__title">Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)</span><span class="popup-product__price"><b class="rub">3 450</b><span class="amount">(2 шт)</span></span></a><a class="popup-product" href="#"><span class="popup-product__thumbnail popup-product__thumbnail_none"><img src="/static/images/thumbnail-icon.png" alt=""/></span><span class="popup-product__title">Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)</span><span class="popup-product__price"><b class="rub">3 450</b><span class="amount">(2 шт)</span></span></a><a class="popup-product" href="#"><span class="popup-product__thumbnail"><img src="/static/images/product-category_img.png" alt=""/></span><span class="popup-product__title">Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)</span><span class="popup-product__price"><b class="rub">3 450</b><span class="amount">(2 шт)</span></span></a><a class="popup-product" href="#"><span class="popup-product__thumbnail popup-product__thumbnail_none"><img src="/static/images/thumbnail-icon.png" alt=""/></span><span class="popup-product__title">Аккумулятор 6ст- 60 BOSCH S4 (0 092 S40 250) Silver Asia (232x173x225)</span><span class="popup-product__price"><b class="rub">3 450</b><span class="amount">(2 шт)</span></span></a></div>
													</div>
													<div class="cart-popup__footer">
														<div class="cart-popup__total-price">Итого:<b class="price rub">16 800</b></div>
														<div class="cart-popup__buttons"><a class="to-cart" href="#">
																<div class="text">В корзину</div></a><a class="theme-button" href="#">
																<div class="text">Оформить заказ</div></a></div>
													</div>
												</div>
											</div>
											<ul class="catalog_menu hover_menu">
												<li data-submenu-id="submenu_1"><a href=""><i>
															<svg role="img" width="26" height="26">
																<use xlink:href="/static/images/sprite.svg#item_1"></use>
															</svg></i><span>Запчасти и комплектующие</span></a>
													<ul id="submenu_1">
														<li><a href="">ГИДРОАППАРАТУРА</a></li>
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для дорожно-строительной техники</a></li>
														<li><a href="">Запчасти для лесозаготовительной техники</a></li>
														<li><a href="">Запчасти для сельхозтехники</a></li>
														<li><a href="">Запчасти для тракторов</a></li>
														<li><a href="">ИНСТРУМЕНТЫ И МАТЕРИАЛ</a></li>
														<li><a href="">КАНАТЫ</a></li>
														<li><a href="">МЕТИЗЫ</a></li>
														<li><a href="">ПОДШИПНИКИ</a></li>
														<li><a href="">ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА</a></li>
														<li><a href="">ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ</a></li>
														<li><a href="">РТИ</a></li>
														<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
													</ul>
												</li>
												<li data-submenu-id="submenu_2"><a href=""> <i>
															<svg role="img" width="26" height="18">
																<use xlink:href="/static/images/sprite.svg#item_2"></use>
															</svg></i><span>Аккумуляторы</span></a>
													<ul id="submenu_2">
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для дорожно-строительной техники</a></li>
														<li><a href="">Запчасти для лесозаготовительной техники</a></li>
														<li><a href="">Запчасти для сельхозтехники</a></li>
														<li><a href="">Запчасти для тракторов</a></li>
														<li><a href="">РТИ</a></li>
														<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
													</ul>
												</li>
												<li data-submenu-id="submenu_3"><a href=""> <i>
															<svg role="img" width="25" height="25">
																<use xlink:href="/static/images/sprite.svg#item_3"></use>
															</svg></i><span>Шины и камеры</span></a>
													<ul id="submenu_3">
														<li><a href="">Запчасти для автомобилей</a></li>
														<li><a href="">Запчасти для дорожно-строительной техники</a></li>
														<li><a href="">Запчасти для тракторов</a></li>
														<li><a href="">РТИ</a></li>
														<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
													</ul>
												</li>
												<li><a href=""> <i>
															<svg role="img" width="21" height="26">
																<use xlink:href="/static/images/sprite.svg#item_4"></use>
															</svg></i><span>Масла и спецжидкости</span></a></li>
												<li><a href=""> <i>
															<svg role="img" width="24" height="24">
																<use xlink:href="/static/images/sprite.svg#item_5"></use>
															</svg></i><span>Распродажа</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</header>
				<header class="for_mobile">
					<section class="h_1"><a class="open_menu scale" href="">
							<svg class="no_scale" role="img" width="28" height="16">
								<use xlink:href="/static/images/sprite.svg#menu"></use>
							</svg></a><a class="logo" href="/"><img src="/static/images/logo.png"/></a><a class="cart_open scale" href="">
							<svg class="no_scale" role="img" width="24" height="25">
								<use xlink:href="/static/images/sprite.svg#cart"></use>
							</svg><i class="no_scale">12</i></a></section>
					<nav>
						<ul>
							<li class="for_catalog_menu"><a href="">
									<svg role="img" width="18" height="18">
										<use xlink:href="/static/images/sprite.svg#cat_menu"></use>
									</svg><span>Каталог товаров</span></a>
								<ul class="catalog_menu_mobile">
									<li><a href=""><i>
												<svg role="img" width="26" height="26">
													<use xlink:href="/static/images/sprite.svg#item_1"></use>
												</svg></i><span>Запчасти и комплектующие</span></a>
										<ul>
											<li><a href="">ГИДРОАППАРАТУРА</a></li>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для дорожно-строительной техники</a></li>
											<li><a href="">Запчасти для лесозаготовительной техники</a></li>
											<li><a href="">Запчасти для сельхозтехники</a></li>
											<li><a href="">Запчасти для тракторов</a></li>
											<li><a href="">ИНСТРУМЕНТЫ И МАТЕРИАЛ</a></li>
											<li><a href="">КАНАТЫ</a></li>
											<li><a href="">МЕТИЗЫ</a></li>
											<li><a href="">ПОДШИПНИКИ</a></li>
											<li><a href="">ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА</a></li>
											<li><a href="">ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ</a></li>
											<li><a href="">РТИ</a></li>
											<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
										</ul>
									</li>
									<li><a href=""> <i>
												<svg role="img" width="26" height="18">
													<use xlink:href="/static/images/sprite.svg#item_2"></use>
												</svg></i><span>Аккумуляторы</span></a>
										<ul>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для дорожно-строительной техники</a></li>
											<li><a href="">Запчасти для лесозаготовительной техники</a></li>
											<li><a href="">Запчасти для сельхозтехники</a></li>
											<li><a href="">Запчасти для тракторов</a></li>
											<li><a href="">РТИ</a></li>
											<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
										</ul>
									</li>
									<li><a href=""> <i>
												<svg role="img" width="25" height="25">
													<use xlink:href="/static/images/sprite.svg#item_3"></use>
												</svg></i><span>Шины и камеры</span></a>
										<ul>
											<li><a href="">Запчасти для автомобилей</a></li>
											<li><a href="">Запчасти для дорожно-строительной техники</a></li>
											<li><a href="">Запчасти для тракторов</a></li>
											<li><a href="">РТИ</a></li>
											<li><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a></li>
										</ul>
									</li>
									<li><a href=""> <i>
												<svg role="img" width="21" height="26">
													<use xlink:href="/static/images/sprite.svg#item_4"></use>
												</svg></i><span>Масла и спецжидкости</span></a></li>
									<li><a href=""> <i>
												<svg role="img" width="24" height="24">
													<use xlink:href="/static/images/sprite.svg#item_5"></use>
												</svg></i><span>Распродажа</span></a></li>
								</ul>
							</li>
							<li><a href="">
									<svg role="img" width="15" height="15">
										<use xlink:href="/static/images/sprite.svg#search"></use>
									</svg><span>Поиск товаров в каталоге</span></a>
								<ul>
									<form class="search">
										<input type="text" placeholder="Поиск…"/>
										<button class="scale">
											<svg class="no_scale" role="img" width="17" height="17">
												<use xlink:href="/static/images/sprite.svg#arr_1"></use>
											</svg>
										</button>
										<div class="ajax_search"><a href="">ГИДРОАППАРАТУРА</a><a href="">Запчасти для автомобилей</a><a href="">Запчасти для дорожно-строительной техники</a><a href="">Запчасти для лесозаготовительной техники</a><a href="">Запчасти для сельхозтехники</a><a href="">Запчасти для тракторов</a><a href="">ИНСТРУМЕНТЫ И МАТЕРИАЛ</a><a href="">КАНАТЫ</a><a href="">МЕТИЗЫ</a><a href="">ПОДШИПНИКИ</a><a href="">ПОРШНЕВАЯ, ПОРШНЕВЫЕ КОЛЬЦА</a><a href="">ПРИБОРЫ и ЭЛЕКТРООБОРУДОВАНИЕ</a><a href="">РТИ</a><a href="">ФИЛЬТРУЮЩИЕ ЭЛЕМЕНТЫ</a>
										</div>
									</form>
								</ul>
							</li>
							<li><a href="">
									<svg role="img" width="17" height="16">
										<use xlink:href="/static/images/sprite.svg#lk_m"></use>
									</svg><span>Личный кабинет</span></a>
								<ul>
									<li><a href="">вход</a></li>
									<li><a href="">выход</a></li>
								</ul>
							</li>
						</ul>
						<ul class="main_menu">
							<li> <a href="">О компании</a></li>
							<li> <a href="">Новости и акции</a></li>
							<li> <a href="">Отзывы</a></li>
							<li> <a href="">Покупателям</a>
								<ul>
									<li><a href="">Как заказать?</a></li>
									<li><a href="">Оплата</a></li>
									<li><a href="">Доставка</a></li>
									<li><a href="">Гарантия и возврат</a></li>
									<li><a href="">Партнеры</a></li>
								</ul>
							</li>
						</ul>
						<ul class="haeder_info"><a href="">
								<svg role="img" width="16" height="21">
									<use xlink:href="/static/images/sprite.svg#map"></use>
								</svg><span>Адреса магазинов запчастей</span></a><a class="modal_trigger" href="#custom_modal-1">
								<svg role="img" width="19" height="19">
									<use xlink:href="/static/images/sprite.svg#tel"></use>
								</svg><span>Перезвонить мне</span></a></ul>
					</nav>
				</header>
			</main>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col-12 col-xl-3 d-none d-xl-block"><a class="logo" href="#"><img src="/static/images/logo.png"/></a></div>
						<div class="col-12 col-lg-2 col-xl-2 d-none d-lg-block">
							<div class="footer-block"><b class="footer-block__title">Магазин</b>
								<ul>
									<li><a href="#">О компании</a></li>
									<li><a href="#">Новости и акции</a></li>
									<li><a href="#">Отзывы</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block">
							<div class="footer-block"><b class="footer-block__title">Покупателям</b>
								<ul>
									<li><a href="#">Как заказать?</a></li>
									<li><a href="#">Оплата</a></li>
									<li><a href="#">Доставка</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block">
							<div class="footer-block footer-block_no-title">
								<ul>
									<li><a href="#">Гарантия и возврат</a></li>
									<li><a href="#">Партнеры</a></li>
									<li><a href="#">Полезные статьи</a></li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-lg-4 col-xl-3"><a class="footer-skewed-block footer-skewed-block_link" href="#">
								<div class="footer-skewed-block__content">
									<svg class="footer-skewed-block__svg" role="img" width="16" height="21" style="min-width: 16px;">
										<use xlink:href="/static/images/sprite.svg#pin"></use>
									</svg>
									<div class="footer-skewed-block__text">Адреса магазинов</div>
								</div></a>
							<div class="footer-skewed-block">
								<div class="footer-skewed-block__content">
									<svg class="footer-skewed-block__svg" role="img" width="42" height="27" style="min-width: 42px;">
										<use xlink:href="/static/images/sprite.svg#truck"></use>
									</svg>
									<div class="footer-skewed-block__text">Доставка продукции по всей России</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="lower_footer">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="wrapper">
									<div class="wrapper_left">
										<p>© 2018 Сеть магазинов запасных частей «Механик»</p><a href="#" target="_blank">Политика конфиденциальности</a>
									</div><a class="made_by" href="https://place-start.ru" target="_blank">Сделано в
										<svg role="img" width="96" height="19">
											<use xlink:href="/static/images/sprite.svg#ps"></use>
										</svg></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<div class="custom_modal" id="custom_modal-1"><a class="modal_close" href="#"></a><b class="modal_title">Войти в личный кабинет</b>
			<!-- На форму кидать классы: error, load, success-->
			<form action=""> 
				<div class="group">
					<div class="input-wrapper">
						<input type="email" id="input-1" required="required"/>
					</div>
					<label for="input-1">Email</label>
				</div>
				<div class="group">
					<div class="input-wrapper error">
						<input type="password" id="input-2" required="required"/>
					</div>
					<label for="input-2">Пароль</label>
				</div><span class="error_description">Неверный email или пароль</span>
				<button class="theme-button" type="submit"><span class="text">Войти</span></button>
				<div class="other_links"><a class="open_other_modal" href="#custom_modal-2">Забыли пароль?</a><a class="open_other_modal" href="#custom_modal-3">Регистрация по Email</a></div>
				<div class="load"><img src="static/images/loader.png" alt=""/></div>
				<div class="success"><img src="static/images/tick.png" alt=""/><b>Заявка успешно отправлена</b></div>
			</form>
		</div>
		<div class="custom_modal" id="custom_modal-2"><a class="modal_close" href="#"></a><b class="modal_title">Восстановление пароля</b>
			<!-- На форму кидать классы: error, load, success-->
			<form action=""> 
				<div class="group">
					<div class="input-wrapper">
						<input type="email" id="input-1" required="required"/>
					</div>
					<label for="input-1">Email</label>
				</div>
				<button class="theme-button" type="submit"><span class="text">Восстановить пароль</span></button>
				<div class="other_links"><a class="open_other_modal" href="#custom_modal-1">Войти в личный кабинет</a></div>
				<div class="load"><img src="static/images/loader.png" alt=""/></div>
				<div class="success"><img src="static/images/tick.png" alt=""/><b>Заявка успешно отправлена</b></div>
			</form>
		</div>
		<div class="custom_modal" id="custom_modal-3"><a class="modal_close" href="#"></a><b class="modal_title">Регистрация</b>
			<!-- На форму кидать классы: error, load, success-->
			<form action=""> 
				<div class="group">
					<div class="input-wrapper">
						<input type="email" id="input-1" required="required"/>
					</div>
					<label for="input-1">Email</label>
				</div>
				<label class="acceptance_checkbox" for="acceptance-1">
					<input type="checkbox" id="acceptance-1" checked="checked"/>
					<s class="new_checkbox">
						<svg role="img" width="8" height="6">
							<use xlink:href="static/images/sprite.svg#checkbox_arrow"></use>
						</svg>
					</s><span class="text">Я юридическое лицо</span>
				</label>
				<button class="theme-button" type="submit"><span class="text">Зарегистрироваться</span></button>
				<div class="form_desc">Нажимая кнопку, вы соглашаетесь на <a href="#">обработку персональных данных</a></div>
				<div class="other_links"><a class="open_other_modal" href="#custom_modal-1">Я уже зарегистрирован на сайте</a></div>
				<div class="load"><img src="static/images/loader.png" alt=""/></div>
				<div class="success"><img src="static/images/tick.png" alt=""/><b>Заявка успешно отправлена</b></div>
			</form>
		</div>
		<div class="custom_modal" id="custom_modal-4"><a class="modal_close" href="#"></a><b class="modal_title">Получить консультацию</b>
			<!-- На форму кидать классы: error, load, success-->
			<form action=""> 
				<div class="group">
					<div class="input-wrapper">
						<input type="text" id="input-1" required="required"/>
					</div>
					<label for="input-1">Имя</label>
				</div>
				<div class="group">
					<div class="input-wrapper">
						<input type="tel" id="input-1" required="required"/>
					</div>
					<label for="input-1">Телефон для связи</label>
				</div>
				<button class="theme-button" type="submit"><span class="text">Отправить</span></button>
				<div class="form_desc">Нажимая кнопку, вы соглашаетесь на <a href="#">обработку персональных данных</a></div>
				<div class="load"><img src="static/images/loader.png" alt=""/></div>
				<div class="success"><img src="static/images/tick.png" alt=""/><b>Заявка успешно отправлена</b></div>
			</form>
		</div>
		<script src="/static/js/main.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>
